* {margin: 0px; outline: none;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html {
  background-color: black;
  color: white;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

canvas {
  position: fixed;
  left:0;top:0;

  background: url(/static/img/background_grid.png);
  background-repeat: repeat;

  cursor: default;

  image-rendering: pixelated;
}

p {
  text-align: left;
  width: fit-content;
  width: -moz-fit-content;
  max-width: 50%;
}

.bigText {
  font-size: 2em;
}

button {
  transition: all 0.1s ease-out;
  padding: 12px;
  font-size: 2em;
  background-color: rgba(0,0,0,0);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
} button:hover {
  background-color: green;
}

#loading_screen, #death_screen {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,0.85);
  color: white;

  z-index: 100;
}

#loading_text {
  color: white;
  font-size: 3em;
  text-align: center;
  margin-top: 25%;
  vertical-align: middle;
}

#death_text {
  color: red;
  font-size: 3em;
  text-align: center;
  margin-top: 15%;
  vertical-align: middle;
}

#killer {
  margin-bottom: 20px;
  line-height: 150px;
}

#welcomeSplash {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: white;

  position: fixed;

  left: 50%;
  transform: translateX(-50%);
  top: 25%;

  z-index: 200;
}

.title {
  color: white;
  font-size: 4em;
}

.howtoplayTitle {
  text-align: center;
  margin: 15px;
}

#howtoplay {
  position: fixed;

  color: white;
  font-size: 1.5em;

  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;

  z-index: 200;
}

#username {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 200;
} #username > input {
  background-color: black;
  color: green;
  padding: 12px;
  font-size: 2em;
  border: 1px solid green;
  border-radius: 5px;
  display: inline-block;
} #username > button {
  background-color: rgba(0,0,0,0.85);
  display: inline-block;
}

#chat {
  position: fixed;
  bottom: 20px;
  left: 0;

  z-index: 200;
}

#chatInput {
  background-color: rgba(0,0,0,0.6);
  color: white;
  border: 1px solid green;
}

.tryAgainButton {
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
} .tryAgainButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
