* {margin: 0px; outline: none;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html {
  background-color: black;
}

canvas {
  position: fixed;
  left:0;top:0;

  background: whitesmoke;

  cursor: default;

  image-rendering: pixelated;
}

#loading_screen, #death_screen {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,0.85);
  color: white;

  z-index: 100;
}

#loading_text {
  color: white;
  font-size: 3em;
  text-align: center;
  margin-top: 25%;
  vertical-align: middle;
}

#death_text {
  color: red;
  font-size: 3em;
  text-align: center;
  margin-top: 20%;
  vertical-align: middle;
}

#killer {
  margin-bottom: 20px;
}

#username {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  background-color: black;
  color: green;
  padding: 12px;
  font-size: 2em;
  border: 1px solid green;
  border-radius: 5px;

  z-index: 200;
}

.tryAgainButton {
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
} .tryAgainButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
