* {margin: 0px;}

html {
  background-color: black;
}

canvas {
  position: fixed;
  left:0;top:0;

  background: whitesmoke;

  cursor: crosshair;
}

#loading_screen {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,0.9);
  color: white;

  z-index: 100;
}

#loading_text {
  color: white;
  font-size: 3em;
  text-align: center;
  margin-top: 25%;
  vertical-align: middle;
}
